streamlit==1.44.1
streamlit_folium>=0.24.0
pandas>=2.0.0
geopandas==1.0.1
scikit-learn==1.5.2
shap>=0.47.2
numpy==1.26.0
matplotlib>=3.9.2
xgboost>=3.0.0
seaborn>=0.13.2
joblib>=1.4.2
folium>=0.19.5
rasterstats>=0.20.0
rasterio>=1.4.3
branca>=0.8.1